.details-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 130em;
    min-height: 60rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45rem;
    height: 44rem;
    margin: 2.5rem 0;
    /* margin-top: 5.4rem; */
    background-color: #22192b82;
    /* background-color: #433c4fe8; */
    border-radius: 2rem;
}

.card-details-box:nth-child(1) {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    flex-basis: 20%;
    width: 100%;


}

.card-details-box:nth-child(1) p {
    font-size: 3rem;
    letter-spacing: .2rem;
    line-height: 2rem;
    margin: 0;
    margin-top: 1.2rem;
    padding: .8rem;
    border-radius: 1rem;
    background-color: #74668182;
}

.card-details-box:nth-child(1) p:nth-child(2) {
    font-size: 1.8rem;
    padding: .5rem;
    margin: 0;
    background-color: #39343dbc;
    border-radius: 0 0 1rem 1rem;
}

.card-details-box:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 66%;
    width: 100%;

}

.card-details-box:nth-child(2) .img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 94%;
    border-radius: 1rem;
    background-color: rgba(220, 214, 224, 0.54);
    background-image: url("https://res.cloudinary.com/dz9smi3nc/image/upload/o_80/v1667914563/shop-mugs/items/IMAGE_iltip4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/** Mug characteristics 1*/

.card-details-box:nth-child(2) .info-wrap:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 13%;
    width: 90%;
}

.card-details-box:nth-child(2) .info-wrap .desc-box {
    flex-basis: 30%;
    height: 100%;
    opacity: .9;
    border-radius: 1rem;
    background: linear-gradient(90deg, #dddcde 0%, #d2d1d4f5 90%);
}

/*$ Mug characteristics 1 */

/** Mug characteristics 2 */

.card-details-box:nth-child(2) .info-wrap:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    flex-basis: 38%;
    /* background-color: #5952645c; */
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-type {
    text-align: center;
    flex-basis: 25%;

}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-type p {
    display: inline-block;
    line-height: 1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin: 0%;
    margin-left: 1.7rem;
    padding: .8rem;
    border-radius: 1rem;
    opacity: .9;
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit {
    flex-basis: 35%;
    width: 100%;
    margin-bottom: .5rem;
    /* background-color: #3f38463d; */
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit .price {
    background-color: #63576fb8;
    border-radius: 1rem;
    line-height: 2.4rem;
    padding: .3rem 1rem;
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit .favorites {
    height: 2.7rem;
    margin-right: .5rem;
}

.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit .favorites img{
    height: 100%;

}


.card-details-box:nth-child(2) .info-wrap:nth-child(2) .info-edit .amount {
    background-color: #63576fb8;
    border-radius: 1rem;
    line-height: 2.4rem;
    margin-right: 1rem;
    padding: .3rem 1rem;
}

/*$ Mug characteristics 2 */









/* * 3 section */
.card-details-box:nth-child(3) {
    display: flex;
    justify-content: center;
    flex-basis: 12%;
    width: 100%;
    /* background-color: rgb(69, 62, 76); */

}

.card-details-box:nth-child(3) .btn-gruop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84%;
    height: 100%;

}

.card-details-box:nth-child(3) .btn-box {
    font-size: 1.8rem;
    background-color: #74668182;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
}


.card-details-box:nth-child(3) .btn-box:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 6rem;
}

.card-details-box:nth-child(3) .btn-box:nth-child(1) p {
    line-height: 1rem;
    margin: 1rem 0;
}

.card-details-box:nth-child(3) .btn-box:nth-child(1) img {
    height: 1.5rem;
}

.card-details-box:nth-child(3) .btn-box:nth-child(2) {
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: #e7e3ea;
    background: linear-gradient(90deg, #dddcde 0%, #d2d1d4f5 90%);
}

.card-details-box:nth-child(3) .btn-box:nth-child(2) p {
    font-size: 1.9rem;
    line-height: 1rem;
    margin: 1rem 0;
    color: #3f3846;
    color: #595264;
    text-shadow: 0px 0px 3px #2e2437a2;
}


.card-details-box:nth-child(3) .btn-box:nth-child(3) {
    display: flex;
    padding: 0;
    width: 7.5rem;


}

.card-details-box:nth-child(3) .btn-box:nth-child(3) .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 100%;
    box-sizing: content-box;
    /* background-color: #dddcde; */

}

.card-details-box:nth-child(3) .btn-box:nth-child(3) .wrap:nth-child(1) {
    border: 2px solid #dddcdead;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.card-details-box:nth-child(3) .btn-box:nth-child(3) p {
    font-size: 2.6rem;
    line-height: .9rem;
    margin: 1rem 0;
}





































.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
    gap: .3rem;
    width: 15rem;
    height: 4rem;
    margin-bottom: 2rem;
    transition: background-color .5s;
    background-color: #22192b82;
    border-radius: 1rem;
    cursor: pointer;

}

.btn-back:hover {
    transition: background-color .5s;
    background-color: #44395cd0;
}

.btn-back .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    height: 100%;
}

.btn-back img {
    display: block;

    height: 40%;
}

.btn-back p {
    margin-right: .8rem;
    font-size: 2.5rem;
}

.card-btn-favorites-detais {
    position: absolute;
    z-index: 3;
    top: 9rem;
    margin-right: 19.5rem;
    width: 3.6rem;
    height: 3.6rem;
}

.card-btn-favorites-detais img {
    /* opacity: .95; */
    /* image-rendering: pixelated; */
    width: 100%;
    display: block;
    -webkit-transition: .2s -webkit-filter linear;
    -moz-transition: .2s -moz-filter linear;
    cursor: pointer;
}